*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

#header{
 background-color:#555;  
}

#header h1{
    font-family: 'Libre Bodoni', serif;
    text-transform:uppercase;
    color:#206ba4;
    text-shadow: 0px 1px 1px white;
    font-size: 50px;
}

#header h2{
color: lightgrey;
font-family: 'Mr Dafoe', cursive;
font-size:40px;
}


body{
    background-color:#f1f1f1;
}


h1,h2,h3,h4,h5{
    font-family: 'Cuprum', sans-serif;
}

nav ul li a{
    font-family: 'Libre Bodoni', serif;
    text-decoration: none;
}

nav ul{
    text-decoration: none;
}

a{
    color:#206ba4;
}

img{
    max-width:100%;
}


footer{
    background-color:#555; 
    color:white;
}

footer h1,h2,h3,h4,h5{
   color:#59a4dd; 
   text-shadow: 0px 0px 3px navy;
}


footer a:hover{
    color:#206ba4;
    transition:ease 0.4s;
}



/* MOBILE NAVIGATION */
    #normal-navigation{
        display:none;
    }

/* MOBILE NAV */
.menu-wrap {                           
    height: 4em;                       
    background-color:#555;           
    padding: 10px 15px;                
    position: fixed;        
    width: 100%;                     
}
.menu-icon {
    font-size: 2em;                   
    color: #fff;                
}
.mobile-nav {
    position: absolute;               
    background-color: #555;            
    top: 3.5em;                       
    left:0;                           
    width: 100%;                    
}
.mobile-nav ul {
    list-style-type: none;          
    max-height: 0em;                  
    overflow: hidden;                
    transition: max-height 0.5s;    
}
.mobile-nav ul li a {
    display: block;                   
    padding: .5em 1em;         
    color: #fff;                     
    text-decoration: none;      
}
.mobile-nav ul li a:hover, nav ul li a:focus {
    border-bottom:1px white solid ;
    transition: opacity ease 0.4s;              
}
#checkbox {
    display: none;                   
}
#checkbox:checked ~ nav ul {
    max-height: 15em;                 
}




@media screen and (min-width:800px){
    #normal-navigation{
        display:unset;
    }


    /*MOBILE NAV */

.menu-icon {
    display: none;             
}
.mobile-nav {
    position: relative;
    top: -1em;            
}
.menu-wrap .mobile-nav{
    display: none;
}
.menu-wrap{
    opacity:0;
}

}